// Set initial device widths taken from 
// Twitter Bootstrap

// Largest Mobile Screen Iphone 6+
@mobile: 320px;
@tablet: 768px;
@desktop: 992px;
@widescreen: 1200px;

// Set Number of columns and gutter sizes
@column-index: 12;
@gutter: 30px;

// Set font family and line height
@font-family: 'Roboto', Helvetica, Arial, sans-serif;
@font-base-size: 14px;
@line-height: 1.4;

// Set programming font family
@monospaced:  'Lucida Console', Monaco, monospace;

// Set sidebar width
// Sidebar is an optional view
@sidebar: 25%;

// Set page wrapper width
@wrapper: 80%;
