// Set initial device widths taken from 
// Twitter Bootstrap

// Largest Mobile Screen Iphone 6+
@mobile: 320px;
@tablet: 768px;
@desktop: 992px;
@widescreen: 1200px;

// Set Number of columns and gutter sizes
@column-index: 12;
@gutter: 30px;
